<button
  hlmBtn
  size="icon-xs"
  variant="ghost"
  [hlmDropdownMenuTrigger]="userActionDropDownMenu"
  align="end"
>
  <span class="sr-only">User actions</span>
  <ng-icon name="lucideEllipsis" />
</button>

<ng-template #userActionDropDownMenu>
  <hlm-dropdown-menu>
    <button hlmDropdownMenuItem (click)="copyUserId()">
      <ng-icon name="lucideCopy" />
      Copy user ID
    </button>
    @if (row().original.role !== 'admin') {
      <button hlmDropdownMenuItem (click)="impersonate()">
        <ng-icon name="lucideUserCog" />
        Impersonate
      </button>
    }

    @if (!row().original.emailVerified && !row().original.banned) {
      <button
        hlmDropdownMenuItem
        [disabled]="sendingSignup()"
        (click)="resendSignup()"
      >
        <ng-icon name="lucideMail" />
        Resend signup email
      </button>
    }

    @if (row().original.emailVerified && !row().original.banned) {
      <button
        hlmDropdownMenuItem
        [disabled]="sendingReset()"
        (click)="sendReset()"
      >
        <ng-icon name="lucideMail" />Send password reset email
      </button>
    }
    <button hlmDropdownMenuItem [disabled]="changingRole()" (click)="setRole()">
      {{
        row().original.role === 'admin' ? 'Make user' : 'Make instance admin'
      }}
    </button>
    @if (!isMe()) {
      <hlm-dropdown-menu-separator />

      <button
        hlmDropdownMenuItem
        variant="destructive"
        [hlmAlertDialogTriggerFor]="deleteDialog"
      >
        <ng-icon name="lucideTrash2" />
        Delete
      </button>
    }
  </hlm-dropdown-menu>
</ng-template>

<hlm-alert-dialog #deleteDialog="hlmAlertDialog">
  <hlm-alert-dialog-content *hlmAlertDialogPortal="let ctx">
    <hlm-alert-dialog-header>
      <h2 hlmAlertDialogTitle>Delete user {{ row().original.name }}?</h2>
      <p hlmAlertDialogDescription>
        Are you sure you want to permanently delete the user &ldquo;{{
          row().original.name
        }}&rdquo;? This action cannot be undone.
      </p>
    </hlm-alert-dialog-header>
    <hlm-alert-dialog-footer>
      <button hlmAlertDialogCancel [disabled]="deleting()">Cancel</button>
      <button
        hlmAlertDialogAction
        variant="destructive"
        [disabled]="deleting()"
        (click)="deleteUser(ctx)"
      >
        Delete
      </button>
    </hlm-alert-dialog-footer>
  </hlm-alert-dialog-content>
</hlm-alert-dialog>
